[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
pandas = "*"
loguru = "*"
matplotlib = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.11"
