[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
pandas = "*"
loguru = "*"
matplotlib = "*"
tqdm = "*"
skorch = "*"
scikit-learn = "*"
imblearn = "*"
torch = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
